<div class="header">
  <!-- <div class="header-title">Homie</div> -->
  <a href="<%= root_path %>"><span class="lnr lnr-arrow-left-circle header-btn-left"></span></a>
  <span class="lnr lnr-map header-btn-right"></span>
</div>

<div class="navigation">
  <div class="map">
    <div id="google_map"></div>
    <div id="google_route">
      <div class="route route-1"><%= image_tag "https://cloud.githubusercontent.com/assets/625489/22402375/3704ac02-e638-11e6-88ef-a85a934883d6.png" %></div>
      <div class="route route-2"><%= image_tag "https://cloud.githubusercontent.com/assets/625489/22402376/370567d2-e638-11e6-8e36-2878b962501a.png" %></div>
    </div>
  </div>
</div>
<div class="chatbox open" id="chatbox" data-uuid="<%= @room.uuid %>">
  <!-- <div class="chatbox-handle" v-on:click.prevent="toggle_chatbox">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div> -->
  <div class="chatbox-stream" id="messages">
    <div class="message" v-for="message in messages" v-bind:class="{ bot: message.bot_flg }">
      <div class="message-icon" v-if="message.bot_flg && chat_intents.indexOf(message.intent) > -1"><%= image_tag("woman.png") %></div>
      <div class="message-body" v-if="message.intent === 'text'">
        <div class="message-body-text">{{message.content.text}}</div>
      </div>
      <div class="message-body" v-if="message.intent === 'image'">
        <div class="message-body-image">
          <img v-bind:src="message.content.image_url" v-bind:alt="message.content.image_url">
        </div>
      </div>
      <!-- <div class="message-body" v-if="message.intent === 'builtin.intent.none'">
        <div class="message-body-text">Pardon me?</div>
      </div> -->
      <div class="message-body" v-if="message.intent === 'builtin.intent.places.get_route'">
        <div class="message-body-text">Okay, here's the route for {{message.content.entity}}.</div>
      </div>
      <div class="message-body" v-if="message.intent === 'text_with_choices'">
        <div class="message-body-text">{{message.content.text}}</div>
        <div class="message-body-choises">
          <div class="message-body-choise" v-for="ch in message.content.choises" v-on:click.prevent="choose_answer(ch)">{{ch.text}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chatbox-input">
    <form action="" id="new_message_form_text" v-on:submit.prevent="post_text">
      <div class="chatbox-input-text">
        <input type="text" name="new_message_text" id="new_message_text" v-model="new_message_text" placeholder="Start chatting...">
      </div>
    </form>
    <form action="" id="new_message_form_image" enctype="multipart/form-data" v-on:submit.prevent="post_image">
      <label for="new_message_image" class="chatbox-input-file">
        <span class="lnr lnr-camera"></span>
        <input type="file" accept="image/*" capture="camera" name="new_message_image" id="new_message_image" v-on:change="post_image">
      </label>
    </form>
  </div>
</div>

<%= render partial: 'debug' %>
<%= render partial: 'chatbox' %>
<%= render partial: 'google_map' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&language=en&region=JP" charset="utf-8"></script>
